src/test/resources/static/Schema.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="textDocument">
        <complexType>
            <sequence>
                <element name="date" type="dateTime" minOccurs="0"/>
                <element name="text" type="string" />
            </sequence>
        </complexType>
    </element>
</schema>